body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .container {
    max-width: 980px;
    margin: 0 auto;
    height: 100%;
  }
  
  .header .container {
    min-height: 70px;
    padding: 15px;
  }
  
  .header {
    background-color: #232323;
    width: 100%;
    height: 100px;
    border-bottom: #cc00ff 5px solid;
  }
  
  .header span {
    color: #cc00ff;
  }
  
  .titulo {
    float: left;
    color: white;
    margin: auto;
    padding: 12px;
  }

  .botaosobre ul li a {
    display: inline-block;
    margin-left: 20px;
    color: #cc00ff;
  }
  
  .nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: white;
  }

    
  .nav a:hover {
    text-decoration: none;
    color: #cc00ff;
  }
  
  .nav ul {
    margin: 0 auto;
    padding: 22px;
  }
  
  .nav {
    float: right;
  }
  
  .showcase {
    text-align: center;
    background-image: url(../img/primeiropedaco.jpg);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      color: white;
      padding-top: 100px;
      padding-bottom: 80px;
  }
  
  .showcase h1 {
    margin: 0;
    padding-top: 80px;
    font-size: 55px;
  }
  
  .showcase p {
    font-size: 20px;
  }
  
  @media (max-width: 680px) {
    .titulo {
      font-size: 20px;
    }
  
    .nav ul {
      padding: 0;
    }
    .header .container {
      display: flex;
      flex-direction: column;
    }
  }
  
  .news {
    width: 100%;
    height: 100px;
    background: #232323;
  }
  
  .news h1 {
    color: white;
    float: left;
  }
  
  .news form {
    margin-top: 34px;
    float: right;
  }
  
  .news input {
    color:  #cc00ff; 
    height: 25px;
    width: 250px;
  }
  
  .enviar {
    
    color: aliceblue;
    border: none;
    height: 31px;
    background: #cc00ff;
  }
  
  .enviar:hover {
    
    color: white;
    border:#cc00ff;
    height: 30px;
    background: #cc00ffe7;
  }
  
  
  .valores {
    background: linear-gradient(45deg, #36065c,#5406b5,#310864,#3746a3);
    background-size: 300% 300%;
    padding: 60px 0;
    text-align: center;
    animation: colors 15s ease infinite;
  }

  @keyframes colors {
    0%{ background-position: 0% 50%;

    }
    50%{ background-position: 100% 50%;

    }
    100%{ background-position: 50% 0%  

    }
  }
  
  .valores h3{
    color: #cc00ff;
  }
  
  .valores ul {
    color: ivory;
    display: flex;
    list-style: none;
  }
  
  .valores img{
    width: 90px;
  }
  
  .footer {
    text-align: center;
    background-image: url(../img/segundopedaco.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100px;
  }
  
  .footer p {
    color: white;
      padding-top: 45px;
  }







  .sensor{
    /*background-color: #232323;*/
    width: 800px;
    height: 100%;
    text-align: center;
    margin-left: 250px;
    border-radius: 25px 25px;
    border: dotted 2px #cc00ff;
}

.renda{
   /* background-color: #232323;*/
    width: 600px;
    height: 100%;
    text-align: center;
    margin-left: 350px;
    border-radius: 25px 25px;
    border: dotted 2px #cc00ff
}

input{   
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  box-shadow: 1px 1px 2px #cc00ff;    
  -moz-box-shadow: 1px 1px 2px #cc00ff;
  -webkit-box-shadow: 1px 1px 2px #cc00ff;
  background: #fffdfe; 
  border:1px solid #b44e9e;
  width:150px
}

textarea{
  border: 1px solid #000000;
  background:#f083d8;
  width:150px;
  height:100px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  box-shadow: 1px 1px 2px #cc00ff;    
  -moz-box-shadow: 1px 1px 2px #cc00ff;
  -webkit-box-shadow: 1px 1px 2px #cc00ff;
}

input:hover{ 
       background: #ffffff; border:1px solid whitesmoke;
}


.botaozin{
  background-color: #cc00ff; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.botaozin:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.simulando{
  
   

   
    background: linear-gradient(45deg, #36065c, #5406b5, #310864, #3746a3);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
  }

  @keyframes colors {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @media (max-width: 600px) {
    .text {
      font-size: 1.5rem;
      padding: 1rem 2rem;
    }
  
}

.renda{
  background-color: #ffffff;
}

.sensor{
  background-color: #ffffff;
}
