body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .container {
    max-width: 980px;
    margin: 0 auto;
    height: 100%;
  }
  
  .header .container {
    min-height: 70px;
    padding: 15px;
  }
  
  .header {
    background-color: #232323;
    width: 100%;
    height: 100px;
    border-bottom: #cc00ff 5px solid;
  }
  
  .header span {
    color: #cc00ff;
  }
  
  .titulo {
    float: left;
    color: white;
    margin: auto;
    padding: 12px;
  }

  .botaosobre ul li a {
    display: inline-block;
    margin-left: 20px;
    color: #cc00ff;
  }
  
  .nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: white;
  }

    
  .nav a:hover {
    text-decoration: none;
    color: #cc00ff;
  }
  
  .nav ul {
    margin: 0 auto;
    padding: 22px;
  }
  
  .nav {
    float: right;
  }
  
  .showcase {
    text-align: center;
    background-image: url(../img/primeiropedaco.jpg);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      color: white;
      padding-top: 100px;
      padding-bottom: 80px;
  }
  
  .showcase h1 {
    margin: 0;
    padding-top: 80px;
    font-size: 55px;
  }
  
  .showcase p {
    font-size: 20px;
  }
  
  @media (max-width: 680px) {
    .titulo {
      font-size: 20px;
    }
  
    .nav ul {
      padding: 0;
    }
    .header .container {
      display: flex;
      flex-direction: column;
    }
  }
  
  .news {
    width: 100%;
    height: 100px;
    background: #232323;
  }
  
  .news h1 {
    color: white;
    float: left;
  }
  
  .news form {
    margin-top: 34px;
    float: right;
  }
  
  .news input {
    font #cc00ff; ;
    height: 25px;
    width: 250px;
  }
  
  .enviar {
    
    color: aliceblue;
    border: none;
    height: 31px;
    background: #cc00ff;
  }
  
  .enviar:hover {
    
    color: white;
    border:#cc00ff;
    height: 30px;
    background: #cc00ffe7;
  }
  
  
  .valores {
    background: linear-gradient(45deg, red,#0c0c0c,#0c0b0b,green);
    background-size: 300% 300%;
    padding: 60px 0;
    text-align: center;
    animation: colors 15s ease infinite;
  }

  @keyframes colors {
    0%{ background-position: 0% 50%;

    }
    50%{ background-position: 100% 50%;

    }
    100%{ background-position: 50% 0%  

    }
  }
  
  .valores h3{
    color: #cc00ff;
  }
  
  .valores ul {
    color: ivory;
    display: flex;
    list-style: none;
  }
  
  .valores img{
    width: 90px;
  }
  
  .footer {
    text-align: center;
    background-image: url(../img/segundopedaco.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100px;
  }
  
  .footer p {
    color: white;
      padding-top: 45px;
  }